.item-container {
 display: flex;
 flex-direction: row;
 border: 1px solid grey;
 padding: 5px;  
 width: 80%;
 align-items: center;
 justify-content: center;
 
 p{
    display: flex;
    flex-wrap: wrap;
 }
}